In [1]:
pip install nltk

Requirement already satisfied: nltk in c:\users\likhi\anaconda3\lib\site-packages (3.4.5)
Requirement already satisfied: six in c:\users\likhi\anaconda3\lib\site-packages (from nltk) (1.14.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import nltk

In [3]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\likhi\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\wordnet.zip.

True

In [5]:
import pandas as pd

In [17]:
dt = pd.read_csv("SPAM-210331-134237.csv", encoding = 'Windows-1252')

In [16]:
import chardet
with open("SPAM-210331-134237.csv", 'rb') as rawdata:
    result = chardet.detect(rawdata.read(100000))
result

{'encoding': 'Windows-1252', 'confidence': 0.73, 'language': ''}

In [18]:
dt.head()

   type                                               text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [19]:
dt['spam']=dt['type'].map({'spam':1,'ham':0}).astype(int)

In [20]:
dt.head(5)

   type                                               text  spam
0   ham  Go until jurong point, crazy.. Available only ...     0
1   ham                      Ok lar... Joking wif u oni...     0
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3   ham  U dun say so early hor... U c already then say...     0
4   ham  Nah I don't think he goes to usf, he lives aro...     0

In [21]:
t=len(dt['type'])
print("NO OF ROWS IN REVIEW COLOUMN",t)

NO OF ROWS IN REVIEW COLOUMN 116

In [22]:
dt['text'][2]

"Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's"

In [23]:
def tokenizer(text):
    return text.split()

In [24]:
dt['text']=dt['text'].apply(tokenizer)

In [25]:
dt['text'][2]

['Free',
 'entry',
 'in',
 '2',
 'a',
 'wkly',
 'comp',
 'to',
 'win',
 'FA',
 'Cup',
 'final',
 'tkts',
 '21st',
 'May',
 '2005.',
 'Text',
 'FA',
 'to',
 '87121',
 'to',
 'receive',
 'entry',
 'question(std',
 'txt',
 "rate)T&C's",
 'apply',
 "08452810075over18's"]

In [26]:
from nltk.stem.snowball import SnowballStemmer
porter = SnowballStemmer("english" , ignore_stopwords = False)

In [27]:
def stem_it(text):
    return [porter.stem(word) for word in text]

In [30]:
dt['text']=dt['text'].apply(stem_it)

In [31]:
dt['text'][2]

['free',
 'entri',
 'in',
 '2',
 'a',
 'wkli',
 'comp',
 'to',
 'win',
 'fa',
 'cup',
 'final',
 'tkts',
 '21st',
 'may',
 '2005.',
 'text',
 'fa',
 'to',
 '87121',
 'to',
 'receiv',
 'entri',
 'question(std',
 'txt',
 'rate)t&c',
 'appli',
 '08452810075over18']

In [32]:
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()

In [36]:
def lemmit_it(text):
    return [lemmatizer.lemmatize(word , pos = 'a') for word in text]

In [37]:
dt['text'] = dt['text'].apply(lemmit_it)

In [38]:
dt["text"][2]

['free',
 'entri',
 'in',
 '2',
 'a',
 'wkli',
 'comp',
 'to',
 'win',
 'fa',
 'cup',
 'final',
 'tkts',
 '21st',
 'may',
 '2005.',
 'text',
 'fa',
 'to',
 '87121',
 'to',
 'receiv',
 'entri',
 'question(std',
 'txt',
 'rate)t&c',
 'appli',
 '08452810075over18']

In [41]:
from nltk.corpus import stopwords
stop_words = stopwords.words("english")

In [40]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\likhi\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [42]:
def stop_it(text):
    review = [word for word in text if not word in stop_words]
    return review

In [43]:
dt.head()

   type                                               text  spam
0   ham  [go, until, jurong, point,, crazy.., avail, on...     0
1   ham                 [ok, lar..., joke, wif, u, oni...]     0
2  spam  [free, entri, in, 2, a, wkli, comp, to, win, f...     1
3   ham  [u, dun, say, so, earli, hor..., u, c, alreadi...     0
4   ham  [nah, i, don't, think, he, goe, to, usf,, he, ...     0

In [44]:
dt["text"]=dt["text"].apply(" ".join)

In [45]:
dt.head()

   type                                               text  spam
0   ham  go until jurong point, crazy.. avail onli in b...     0
1   ham                        ok lar... joke wif u oni...     0
2  spam  free entri in 2 a wkli comp to win fa cup fina...     1
3   ham  u dun say so earli hor... u c alreadi then say...     0
4   ham  nah i don't think he goe to usf, he live aroun...     0

In [46]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf=TfidfVectorizer()
y=dt.spam.values
x=tfidf.fit_transform(dt['text'])

In [51]:
dt.head()

   type                                               text  spam
0   ham  go until jurong point, crazy.. avail onli in b...     0
1   ham                        ok lar... joke wif u oni...     0
2  spam  free entri in 2 a wkli comp to win fa cup fina...     1
3   ham  u dun say so earli hor... u c alreadi then say...     0
4   ham  nah i don't think he goe to usf, he live aroun...     0

In [47]:
x

<116x771 sparse matrix of type '<class 'numpy.float64'>'
	with 1626 stored elements in Compressed Sparse Row format>

In [48]:
from sklearn.model_selection import  
x_train,x_text,y_train,y_text=train_test_split(x,y,random_state=1,test_size=0.2,shuffle=False)

In [49]:
from sklearn.linear_model import LogisticRegression
clf=LogisticRegression()
clf.fit(x_train,y_train)
y_pred=clf.predict(x_text)

In [50]:
from sklearn.metrics import accuracy_score
acc_log = accuracy_score(y_pred, y_text)*100
print("accuracy:",acc_log )

accuracy: 87.5